<template>
  <div class="addshop">
    <!-- //面包屑 -->
    <div class="breadcrumb">
      <el-breadcrumb separator-class="el-icon-arrow-right">
        <el-breadcrumb-item :to="{ path: '/home/index' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item>商品</el-breadcrumb-item>
        <el-breadcrumb-item>商品列表</el-breadcrumb-item>
        <el-breadcrumb-item>新增商品</el-breadcrumb-item>
      </el-breadcrumb>
      <div class="head">新增商品</div>
    </div>
    <!-- form表单 -->
    <el-form
      :model="ruleForm"
      :rules="rules"
      ref="ruleForm"
      label-width="110px"
      class="demo-ruleForm"
    >
      <el-form-item label="商品名称" prop="name">
        <el-input v-model="ruleForm.name"></el-input>
      </el-form-item>
      <el-form-item label="商品描述" prop="name">
        <el-input v-model="ruleForm.subtitle"></el-input>
      </el-form-item>
      <el-form-item label="商品一级分类" prop="levelOneCategoryId">
        <el-select
          v-model="ruleForm.levelOneCategoryId"
          placeholder="请选择商品一级分类"
        >
          <el-option v-for="item in OneCategory" :key="item.id" :label="item.name" :value="item.id"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="商品二级分类" prop="levelOneCategoryId" v-if="ruleForm.levelOneCategoryId">
        <el-select v-model="ruleForm.categoryId" placeholder="请选择商品二级分类">
          <el-option v-for="item in TwoCategory" :key="item.id" :label="item.name" :value="item.id"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="价格" prop="name">
        <el-input v-model="ruleForm.price" type="number"></el-input>
      </el-form-item>
      <el-form-item label="库存" prop="name">
        <el-input v-model="ruleForm.stock" type="number"></el-input>
      </el-form-item>
      <el-form-item label="上架状态" prop="name">
        <el-switch v-model="ruleForm.status"></el-switch>
      </el-form-item>
      <el-form-item label="上传" prop="upload">
        <el-upload
          action="/api/manage/product/upload.do"
          list-type="picture-card"
          :on-preview="handlePictureCardPreview"
          :on-remove="handleRemove"
        >
          <i class="el-icon-plus"></i>
        </el-upload>
        <el-dialog :visible.sync="dialogVisible">
          <img width="100%" :src="dialogImageUrl" alt />
        </el-dialog>
      </el-form-item>
      <el-form-item label="详情" prop="detail">
        <quill-editor v-model="ruleForm.detail"></quill-editor>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="addShop('ruleForm')">立即创建</el-button>
        <el-button @click="resetForm('ruleForm')">重置</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>
<script>
import "quill/dist/quill.core.css";
import "quill/dist/quill.snow.css";
import "quill/dist/quill.bubble.css";
import { quillEditor } from "vue-quill-editor";
import { category,addShop } from "../../api";
export default {
  components: {
    quillEditor //注册富文本编辑器
  },
  data() {
    return {
      ruleForm: {
        name: "",
        subtitle: "",
        levelOneCategoryId: "",
        levelTwoCategoryId: "",
        categoryId: "",
        price: "",
        stock: "",
        status: true?1:2,
        subImages: "",
        detail: "",
        id: ""
      },
      dialogImageUrl: "",
      dialogVisible: false,
      rules: {
        name: [{ required: true, message: "内容不能为空", trigger: "blur" }],
        levelOneCategoryId: [
          { required: true, message: "请选择分类", trigger: "change" }
        ],
        detail: [{ required: true, message: "内容不能为空", trigger: "blur" }]
      },
      OneCategory: [],
      TwoCategory: []
    };
  },
  methods: {
    //一级分类
    getonecategory() {
      category(0).then(res => {
        this.OneCategory = res;
      });
    },
    //添加商品
    addShop(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          addShop(this.ruleForm).then(res=>{
            console.log(res)
          })
        } else {
          return false;
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },
    handleRemove(file, fileList) {
      console.log(file);
    },
    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.url;
      this.dialogVisible = true;
    }
  },
  watch: {
    "ruleForm.levelOneCategoryId": {
      handler(newVal) {
        category(newVal).then(res => {
          this.TwoCategory = res;
        });
      }
    },
    "ruleForm.categoryId": {
      handler(newVal) {
        this.ruleForm.levelTwoCategoryId=newVal
      }
    }
  },
  created() {
    this.getonecategory();
  }
};
</script>
<style lang="scss" scoped>
.addshop {
  width: 100%;
  text-align: left;
}
.breadcrumb {
  width: 100%;
  padding: 20px 0px 10px 30px;
  background: #fff;
  box-sizing: border-box;
}
.el-form {
  margin: 20px;
  padding: 30px 80px;
  box-sizing: border-box;
  background: #fff;
}
</style>