<template>
  <div class="shop">
    <!-- 面包屑 -->
    <div class="breadcrumb">
      <el-breadcrumb separator-class="el-icon-arrow-right">
        <el-breadcrumb-item :to="{ path: '/home/index' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item>商品</el-breadcrumb-item>
        <el-breadcrumb-item>商品列表</el-breadcrumb-item>
      </el-breadcrumb>
      <div class="head">商品列表</div>
    </div>
    <!-- //表格 -->
    <div class="table">
      <div class="search">
        <div class="inpt">
          <el-form label-width="80px">
            <el-form-item label="关键词:">
              <el-input v-model="val" style="width:200px;"></el-input>
            </el-form-item>
          </el-form>
          <div>
            <el-button type="primary" size="mini" @click="searchShop()">搜索</el-button>
            <el-button size="mini" @click="val=''">清空</el-button>
          </div>
        </div>
        <el-button type="primary" size="mini" class="add" @click="toAdd()">新增</el-button>
      </div>
      <el-table :data="lists" style="width: 100%">
        <el-table-column prop="name" label="名称" ></el-table-column>
        <el-table-column prop="subtitle" label="标题" ></el-table-column>
        <el-table-column label="价格" >
          <template slot-scope="scope" >
            <p >￥{{scope.row.price}}</p>
          </template>
        </el-table-column>
        <el-table-column  label="商品状态" >
          <template slot-scope="scope" width="250">
            <p style="display:inline-block;width:50px;">{{scope.row.status==1?'在售':"已下架"}}</p>
            <el-button size="mini" @click="setStatus(scope)">{{scope.row.status==1?'设置下架':"设置上架"}}</el-button>
          </template>
        </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button size="mini" @click="toEdit(scope.row)">编辑</el-button>
            <el-button size="mini" type="danger" @click="toShopInfo(scope.row)">查看详情</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <el-pagination
        background
        layout="prev, pager, next"
        :total="total"
        @current-change="handleCurrentChange"
      ></el-pagination>
    </div>
  </div>
</template>
<script>
import { shopList, searchShop ,setStatus} from "../../api";
export default {
  data() {
    return {
      lists: [],
      total:0,
      val: "",
      params: {
        pageSize: 10,
        pageNum: 1
      }
    };
  },
  methods: {
    //获取数据
    getLists() {
      shopList(this.params).then(res => {
        this.total=res.total
        this.lists = res.list;
      });
    },
    //第几页
    handleCurrentChange(num) {
      this.params.pageNum = num;
      if (this.val) {
        this.searchShop();
      } else {
        this.getLists();
      }
    },
    //搜索商品
    searchShop() {
      if(this.val){
        searchShop({ ...this.params, productName: this.val }).then(res => {
        this.lists = res.list;
        this.total=res.total
      });
      }else{
        this.getLists()
      }
      
    },
    //设置上架状态
    setStatus(obj){
      const id=obj.row.id;
      const status=(obj.row.status==2?1:2)
      setStatus({productId:id,status:status}).then(res=>{
        this.$message({
          message: res.data,
          type: "success"
        });
      })
      this.getLists()
    },
    //跳转到新增页面
    toAdd(){
      this.$router.push("/home/addShop")
    },
    //跳转到编辑页面
    toEdit(obj){
      this.$router.push("/home/editShop/"+obj.id)
    },
    //跳转到详情页面
    toShopInfo(obj){
      this.$router.push("/home/shopInfo/"+obj.id)
    }
  },
  created() {
    this.getLists();
  }
};
</script>
<style lang="scss" scoped>
.shop {
  text-align: left;
}
.breadcrumb {
  width: 100%;
  padding: 20px 0px 10px 30px;
  background: #fff;
  box-sizing: border-box;
}
.head {
  margin: 10px 0;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 18px;
}
.table {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background: #fff;
  box-sizing: border-box;
  margin-top: 20px;
}
.el-pagination {
  margin-top: 20px;
  text-align: right;
}
.inpt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.el-form-item {
  margin-bottom: 0;
}
.add {
  margin: 15px;
}
</style>