<template>
  <div class="orderInfo">
    <!-- 面包屑 -->
    <div class="breadcrumb">
      <el-breadcrumb separator-class="el-icon-arrow-right">
        <el-breadcrumb-item :to="{ path: '/home/index' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item>商品</el-breadcrumb-item>
        <el-breadcrumb-item>商品列表</el-breadcrumb-item>
        <el-breadcrumb-item>商品详情</el-breadcrumb-item>
      </el-breadcrumb>
      <div class="head">商品详情</div>
    </div>
    <!-- 分割线 -->
    <div class="info">
      <div>
        <p class="head">商品基本信息</p>
        <ul class="con">
          <li>
            名称:
            <span>{{info.name}}</span>
          </li>
          <li>
            标题:
            <span>{{info.subtitle}}</span>
          </li>
          <li>
            分类:
            <span></span>
          </li>
          <li>
            价格:
            <span>{{info.price}}</span>
          </li>
          <li>
            上架状态:
            <span>{{info.status==1?"上架":"下架"}}</span>
          </li>
          <li>
            库存:
            <span>{{info.stock}}</span>
          </li>
        </ul>
      </div>
      <el-divider></el-divider>
      
      <div>
        <p class="head">商品基本信息</p>
        <div>
          {{info.detail}}
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import {getInfo,category} from '../../api'
export default {
  data() {
    return {
      info:{},
      categoryInfo:{}
    };
  },
  methods:{
    //商品详情
    getInfo(){
      getInfo(this.$route.params.id).then(res=>{
        this.info=res;
        this.getcategory();
      })
    },
    //商品分类
    getcategory(){
      console.log(this.info.categoryId)
      category(this.info.categoryId).then(res=>{
        this.categoryInfo=res
      })
    }
  },
  mounted(){
    this.getInfo()
  }
};
</script>
<style lang="scss" scoped>
.orderInfo {
  text-align: left;
}
.breadcrumb {
  width: 100%;
  padding: 20px 0px 10px 30px;
  background: #fff;
  box-sizing: border-box;
}
.head {
  margin: 10px 0;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 18px;
}
.info {
  margin: 20px;
  background: #fff;
  padding: 30px;
  box-sizing: border-box;
}
.head {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
  margin-bottom: 15px;
}
.con {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.con > li {
  width: 33%;
  line-height: 50px;
}
</style>