<template>
  <div class="orderInfo">
    <!-- 面包屑 -->
    <div class="breadcrumb">
      <el-breadcrumb separator-class="el-icon-arrow-right">
        <el-breadcrumb-item :to="{ path: '/home/index' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item>订单</el-breadcrumb-item>
        <el-breadcrumb-item>订单管理</el-breadcrumb-item>
        <el-breadcrumb-item>订单详情</el-breadcrumb-item>
      </el-breadcrumb>
      <div class="head">订单详情</div>
    </div>
    <!-- 分割线 -->
    <div class="info">
      <div>
        <p class="head">订单基本信息</p>
        <ul class="con">
          <li>
            订单号:
            <span></span>
          </li>
          <li>
            创建时间:
            <span></span>
          </li>
          <li>
            支付状态:
            <span></span>
          </li>
          <li>
            支付方式:
            <span></span>
          </li>
          <li>
            订单金额:
            <span></span>
          </li>
        </ul>
      </div>
      <el-divider></el-divider>
      <div>
        <p class="head">收件人信息</p>
        <ul class="con">
          <li>
            收件人:
            <span></span>
          </li>
          <li>
            联系电话:
            <span></span>
          </li>
          <li>
            收货地址:
            <span></span>
          </li>
          <li>
            邮政编码:
            <span></span>
          </li>
        </ul>
      </div>
      <el-divider></el-divider>
      <div>
        <p class="head">商品信息</p>
        <el-table :data="tableData" style="width: 100%">
          <el-table-column prop="date" label="日期" width="180"></el-table-column>
          <el-table-column prop="name" label="姓名" width="180"></el-table-column>
          <el-table-column prop="address" label="地址"></el-table-column>
        </el-table>
      </div>
    </div>
  </div>
</template>
<script>
export default {
    data() {
        return {
          tableData: [{
            date: '2016-05-02',
            name: '王小虎',
            address: '上海市普陀区金沙江路 1518 弄'
          }]
        }
    }
};
</script>
<style lang="scss" scoped>
.orderInfo {
  text-align: left;
}
.breadcrumb {
  width: 100%;
  padding: 20px 0px 10px 30px;
  background: #fff;
  box-sizing: border-box;
}
.head {
  margin: 10px 0;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 18px;
}
.info {
  margin: 20px;
  background: #fff;
  padding: 30px;
  box-sizing: border-box;
}
.head {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
  margin-bottom: 15px;
}
.con {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.con > li {
  width: 33%;
  line-height: 50px;
}
</style>