<template>
  <div class="order">
    <!-- 面包屑 -->
    <div class="breadcrumb">
      <el-breadcrumb separator-class="el-icon-arrow-right">
        <el-breadcrumb-item :to="{ path: '/home/index' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item>订单</el-breadcrumb-item>
        <el-breadcrumb-item>订单管理</el-breadcrumb-item>
      </el-breadcrumb>
      <div class="head">订单管理</div>
    </div>
    <!-- //表格 -->
    <div class="table">
      <div class="search">
        <div class="inpt">
          <el-form label-width="80px">
            <el-form-item label="关键词:">
              <el-input v-model="val" style="width:200px;"></el-input>
            </el-form-item>
          </el-form>
          <div>
            <el-button type="primary" size="mini" @click="searchOrder()">搜索</el-button>
            <el-button size="mini" @click="val=''">清空</el-button>
          </div>
        </div>
      </div>
      <el-table :data="tableData" style="width: 100%">
        <el-table-column prop="name" label="名称" width="180"></el-table-column>
        <el-table-column prop="title" label="价格" width="180"></el-table-column>
        <el-table-column prop="address" label="地址"></el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button size="mini" @click="toOrderInfo(scope)">查看详情</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <el-pagination
        background
        layout="prev, pager, next"
        :total="200"
        @current-change="handleCurrentChange"
      ></el-pagination>
    </div>
  </div>
</template>
<script>
import { shopList, searchShop } from "../../api";
export default {
  data() {
    return {
      tableData: [
        {
          date: "2016-05-02",
          name: "王小虎",
          address: "上海市普陀区金沙江路 1518 弄"
        },
        {
          date: "2016-05-04",
          name: "王小虎",
          address: "上海市普陀区金沙江路 1517 弄"
        },
        {
          date: "2016-05-01",
          name: "王小虎",
          address: "上海市普陀区金沙江路 1519 弄"
        },
        {
          date: "2016-05-03",
          name: "王小虎",
          address: "上海市普陀区金沙江路 1516 弄"
        }
      ],
      lists: [],
      val: "",
      params: {
        pageSize: 10,
        pageNum: 1
      }
    };
  },
  methods: {
    //获取数据
    getLists() {
      shopList(this.params).then(res => {
        this.list = res;
      });
    },
    //第几页
    handleCurrentChange(num) {
      this.params.pageNum = num;
     
        this.getLists();
     
    },
    //搜索商品
    searchOrder() {
      searchShop({ ...this.params, productName: this.val }).then(res => {
        this.list = res;
      });
    },
    //跳转详情页
    toOrderInfo(obj){
        this.$router.push("/home/orderInfo/"+obj.id)
    }
    
  },
  created() {
    this.getLists();
  }
};
</script>
<style lang="scss" scoped>
.order {
  text-align: left;
}
.breadcrumb {
  width: 100%;
  padding: 20px 0px 10px 30px;
  background: #fff;
  box-sizing: border-box;
}
.head {
  margin: 10px 0;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 18px;
}
.table {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background: #fff;
  box-sizing: border-box;
  margin-top: 20px;
}
.el-pagination {
  margin-top: 20px;
  text-align: right;
}
.inpt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.el-form-item {
  margin-bottom: 0;
}
.add {
  margin: 15px;
}
</style>