<template>
  <div class="homeIndex">
    <el-row :gutter="20">
      <el-col :span="7">
        <div class="grid-content bg-purple">
          <div class="title">用户总数</div>
          <div class="con">{{nums.orderCount}}</div>
        </div>
      </el-col>
      <el-col :span="7">
        <div class="grid-content bg-purple">
          <div class="title">商品总数</div>
          <div class="con">{{nums.productCount}}</div>
        </div>
      </el-col>
      <el-col :span="7">
        <div class="grid-content bg-purple">
          <div class="title">订单数</div>
          <div class="con">{{nums.userCount}}</div>
        </div>
      </el-col>
    </el-row>
  </div>
</template>
<script>
import {indexNum} from "../../api/index.js"
export default {
  data(){
    return {
      nums:[]
    }
  },
  methods:{
    //获取首页数量
    getIndexNum(){
      indexNum().then(res=>{
        this.nums=res
      })
    }
  },
  created(){
    this.getIndexNum()
  }
};
</script>
<style lang="scss" scoped>
.homeIndex{
  margin: 20px;
  padding: 40px;
  box-sizing: border-box;
}
.el-row {
  display: flex;
  justify-content: space-between;
}
.el-col {
  border-radius: 4px;
}
.bg-purple-dark {
  background: #fff;
}
.bg-purple {
  background: #fff;
}
.bg-purple-light {
  background: #e5e9f2;
}
.grid-content {
  border-radius: 4px;
  min-height: 36px;
}
.row-bg {
  padding: 10px 0;
  background-color: #f9fafc;
}
.title {
    padding:0 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-sizing: border-box;
  font-size: 16px;
  text-align: left;
  line-height: 56px;
  border-bottom: 1px solid #e8e8e8;
}
.con{
    padding:24px;
    margin-bottom: 26px;
    font-size: 26px;
    font-weight: bold;
    text-align: left;
}
</style>