<template>
  <div class="home">
    <el-container>
      <el-aside width="200px">
        <div class="logo"></div>
        <el-menu
          active-text-color="#1890ff"
          text-color="#fff"
          :router="true"
          :default-active="defaultActive"
          class="el-menu-vertical-demo"
          :collapse="isCollapse"
          :uniqueOpened="true"
        >
          <el-submenu index="1">
            <template slot="title">
              <i class="el-icon-location"></i>
              <span slot="title">仪表盘</span>
            </template>
            <el-menu-item index="/home/index">首页</el-menu-item>
          </el-submenu>
          <el-submenu index="2">
            <template slot="title">
              <i class="el-icon-location"></i>
              <span slot="title">商品</span>
            </template>
            <el-menu-item index="/home/shop">商品管理</el-menu-item>
          </el-submenu>
          <el-submenu index="3">
            <template slot="title">
              <i class="el-icon-location"></i>
              <span slot="title">品类</span>
            </template>
            <el-menu-item index="/home/classify">品类管理</el-menu-item>
          </el-submenu>
          <el-submenu index="4">
            <template slot="title">
              <i class="el-icon-location"></i>
              <span slot="title">订单</span>
            </template>
            <el-menu-item index="/home/order">订单管理</el-menu-item>
          </el-submenu>
          <el-submenu index="5">
            <template slot="title">
              <i class="el-icon-location"></i>
              <span slot="title">用户</span>
            </template>
            <el-menu-item index="/home/user">用户管理</el-menu-item>
          </el-submenu>
        </el-menu>
        <el-radio-group v-model="isCollapse">
          <span @click="isCollapse=false" v-if="isCollapse">›</span>
          <span @click="isCollapse=true" v-else>‹</span>
        </el-radio-group>
      </el-aside>
      <el-container>
        <el-header>
          <el-avatar src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png"></el-avatar>
          <el-dropdown @command="_loginOut()">
            <span style="margin-left: 15px">{{name}}</span>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item>退出登陆</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </el-header>
        <el-main>
          <router-view></router-view>
        </el-main>
        <el-footer>a sa !</el-footer>
      </el-container>
    </el-container>
  </div>
</template>
<script>
import { loginOut } from "../../api";
export default {
  data() {
    return {
      isCollapse: false,
      defaultActive: this.$route.path,
      name: localStorage.getItem("name") || ""
    };
  },
  methods: {
    //退出登陆
    _loginOut() {
      loginOut().then(res => {
        this.$router.push("/login");
        this.$message({
          message: "退出成功",
          type: "success"
        });
      });
    }
  },
  watch: {
    $route: {
      handler(newVal) {
        const arr = newVal.path.split("/");
        if (arr.length > 3) {
          arr.splice(arr.length - 1, 1);
        }
        let str = arr.join("/");
        this.defaultActive = str;
      },
      deep: true,
      immediate: true
    }
  }
};
</script>
<style lang="scss" scoped>
.el-header,
.el-footer {
  color: #333;
  text-align: center;
  line-height: 60px;
  background: #f0f2f5;
}
.el-header {
  background: #fff;
  box-shadow: rgba(0, 21, 41, 0.08) 0px 1px 4px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.el-aside {
  color: rgb(165, 157, 157);
  text-align: center;
  position: relative;
}
.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 200px;
  min-height: 400px;
}

.el-main {
  background: #f0f2f5;
  color: #333;
  text-align: center;
  margin-top: 1px;
  padding: 0;
}

body > .el-container {
  height: 100vh;
  background: #f0f2f5;
}

.el-container .el-aside {
  height: 1005;
  background: #001529;
}
.el-menu {
  background: transparent;
  border: none;
}
.el-menu-item .is-active{
  padding-left:0 !important ;
}
.el-radio-group {
  width: 200px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 48px;
  color: #fff;
  line-height: 48px;
  text-align: center;
  background: #002140;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 30px;
}
.logo {
  height: 32px;
  margin: 15px;
  background: rgba(255, 255, 255, 0.2);
}

// .el-menu-item{
//   background:#1890ff;
//   color: #fff;
// }
.el-submenu .el-submenu__title:hover {
  padding: 0 70px;
}
.el-submenu__title{
  padding: 0 140px !important;
}
</style>