<template>
  <div class="login">
    <el-form ref="ruleForm" label-width="100px" class="demo-ruleForm" :model="formData">
      <!-- 在element-ui中 v-model为：model -->
      <el-form-item
        label
        prop="username"
        :rules="[
      { required: true, message: '请输入用户名', trigger: 'blur' }
    ]"
      >
        <!-- 设置rules必须设置prop 名称和model名称相同 -->
        <el-input
          type="text"
          v-model="formData.username"
          prefix-icon="el-icon-search"
          placeholder="帐号"
        ></el-input>
      </el-form-item>
      <el-form-item
        label
        prop="password"
        :rules="[
      { required: true, message: '请输入密码', trigger: 'blur' }
    ]"
      >
        <el-input
          type="password"
          v-model="formData.password"
          prefix-icon="el-icon-search"
          placeholder="密码"
        ></el-input>
      </el-form-item>

      <el-form-item>
        <el-button type="primary" @click="submitForm()">登陆</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>
<script>
import { login } from "../api/index";
export default {
  data() {
    return {
      formData: {
        username: "admin",
        password: "admin"
      }
    };
  },
  methods: {
    //登陆
    _login() {
      login(this.formData).then(res => {
        this.$router.replace("/home");
        this.$message({
          message: res.msg,
          type: "success"
        });
        localStorage.setItem("name",res.data.username)
      });
    },
    //点击提交
    submitForm() {
      this.$refs.ruleForm.validate(valid => {
        if (valid) {
          this._login();
        } else {
          return false;
        }
      });
    }
  },
  created() {}
};
</script>
<style lang="scss" scoped>
.login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg);
}
.el-input {
  width: 300px;
}
.el-input__inner {
  height: 32px;
  line-height: 32px;
}
.el-button {
  width: 300px;
  height: 32px;
  line-height: 32px !important;
  padding: 0;
}
</style>