<template>
  <div class="classify">
    <!-- 面包屑 -->
    <div class="breadcrumb">
      <el-breadcrumb separator-class="el-icon-arrow-right">
        <el-breadcrumb-item :to="{ path: '/home/index' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item>一级品类管理</el-breadcrumb-item>
      </el-breadcrumb>
      <div class="head">一级品类管理</div>
    </div>
    <!-- //表格 -->
    <div class="table">
      <div class="search">
        <el-button type="primary" size="mini" class="add" @click="addStatus=true">新增</el-button>
      </div>
      <el-table :data="lists" style="width: 100%">
        <el-table-column prop="name" label="名称" width="180"></el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button size="mini" @click="editStatus=true">修改</el-button>
            <el-button size="mini" @click="toSubClassify(scope)">查看子分类</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <el-pagination
        background
        layout="prev, pager, next"
        :total="lists.length"
        :page-size="10"
        @current-change="handleCurrentChange"
      ></el-pagination>
    </div>
    <!-- 新增弹框 -->
    <el-dialog title="收货地址" :visible.sync="addStatus">
      <el-form :model="addParams" ref="addFormDialog">
        <el-form-item label="活动区域" label-width="80px">
          <el-select v-model="addParams.parentId" placeholder="请选择活动区域">
            <el-option label="区域一" value="shanghai"></el-option>
            <el-option label="区域二" value="beijing"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item
          label="活动名称"
          label-width="80px"
          style="margin-top:20px"
          prop="categoryName"
          :rules="[
      { required: true, message: '内容不能为空', trigger: 'blur' },
    ]"
        >
          <el-input v-model="addParams.categoryName" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="addStatus = false">取 消</el-button>
        <el-button type="primary" @click="addStatus = false">确 定</el-button>
      </div>
    </el-dialog>
    <!-- 修改弹框 -->
    <el-dialog title="收货地址" :visible.sync="editStatus">
      <el-form :model="editParams" ref="editFormDialog">
        <el-form-item
          label="活动名称"
          label-width="80px"
          style="margin-top:20px"
          prop="categoryName"
          :rules="[
      { required: true, message: '内容不能为空', trigger: 'blur' },
    ]"
        >
          <el-input v-model="editParams.categoryName" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="editStatus = false">取 消</el-button>
        <el-button type="primary" @click="editStatus = false">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import { category } from "../../api";
export default {
  data() {
    return {
      lists: [],
      val: "",
      params: {
        pageSize: 10,
        pageNum: 1
      },
      addStatus: false,
      editStatus: false,
      addParams: {
        parentId: "",
        categoryName: ""
      },
      editParams: {
        categoryId: 100001,
        categoryName: ""
      }
    };
  },
  methods: {
    //获取数据
    getLists() {
      category(0).then(res => {
        this.lists = res;
      });
    },
    //第几页
    handleCurrentChange(num) {
      // this.params.pageNum = num;
    },
    //查看子分类
    toSubClassify(obj) {
      this.$router.push("/home/subClassify/" + obj.id);
    },
    
  },
  created() {
    this.getLists();
  }
};
</script>
<style lang="scss" scoped>
.classify {
  text-align: left;
}
.breadcrumb {
  width: 100%;
  padding: 20px 0px 10px 30px;
  background: #fff;
  box-sizing: border-box;
}
.head {
  margin: 10px 0;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 18px;
}
.table {
  padding: 20px;
  box-sizing: border-box;
  background: #fff;
  box-sizing: border-box;
  margin: 20px;
}
.el-pagination {
  margin-top: 20px;
  text-align: right;
}
.inpt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.el-form-item {
  margin-bottom: 0;
}
.add {
  margin: 15px;
}
</style>